<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}
    {{ sonata_seo_title() }}

    {% block stylesheets %}
        <link href="{{ asset('bundles/ipcapplication/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/ipcapplication/css/demo.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body class="container page">
<nav class="navbar navbar-inverse page__nav" role="navigation">
    <div class="container-fluid">
        {{ knp_menu_render('simple', {'template': 'IPCApplicationBundle:Menu:bootstrap.html.twig', 'currentClass': 'active'}) }}

        <ul class="nav  navbar-nav  navbar-right  navbar--external">
            <li><a href="http://cmf.symfony.com/">Website</a></li>
            <li><a href="http://symfony.com/doc/current/cmf/">Documentation</a></li>
            <li><a href="http://github.com/symfony-cmf">Github</a></li>
        </ul>
        {{ locale_switcher(null, null, 'IPCApplicationBundle::switcher_links.html.twig') }}
    </div>
</nav>

{% block hero_unit %}{% endblock %}

<div class="page__main">
    {% block main %}{% endblock %}
</div>


<div class="navbar navbar-inverse page__nav" role="navigation">
    {{ knp_menu_render('footer', {'template': 'IPCApplicationBundle:Menu:bootstrap.html.twig', 'currentClass': 'active'}) }}
</div>
</body>
</html>
